<div class="main min-vh-100">
    <div class="imgDisplay d-flex justify-content-center align-items-center d-none" #bock id="bock" (click)="getInfoClick($event)">
        <img [src]="imgSrc" id="imgbok" alt="">
    </div>
    <div class="container text-center mt-4">
        
<h1>PORTFOLIO COMPONENT</h1>
<div class="power old">
    <i class="fa-solid fa-star"></i>
</div>
<div class="row gy-3 mt-3">
    <div class="col-md-4" (click)="getInfo($event)">
        <div class="imgcontent position-relative">
        <img src="../../assets/img/poert1.png" class="w-100 image" alt="">
        <div class="content position-absolute text-white">
            <i class="fa-solid fa-plus"></i>
        </div>
    </div>
    </div>
    <div class="col-md-4" (click)="getInfo($event)">
        <div class="imgcontent position-relative">
        <img src="../../assets/img/port2.png" class="w-100 image" alt="">
        <div class="content position-absolute text-white">
            <i class="fa-solid fa-plus"></i>
        </div>
    </div>
    </div>
    <div class="col-md-4" (click)="getInfo($event)">
        <div class="imgcontent position-relative">
            <img src="../../assets/img/port3.png" class="w-100 image" alt="">
            <div class="content position-absolute text-white">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4" (click)="getInfo($event)">
        <div class="imgcontent position-relative">
            <img src="../../assets/img/poert1.png" class="w-100 image" alt="">
            <div class="content position-absolute text-white">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4" (click)="getInfo($event)">
        <div class="imgcontent position-relative">
            <img src="../../assets/img/port2.png" class="w-100 image" alt="">
            <div class="content position-absolute text-white">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4" (click)="getInfo($event)">
        <div class="imgcontent position-relative">
            <img src="../../assets/img/port3.png" class="w-100 image" alt="">
            <div class="content position-absolute text-white">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
    </div>
</div>
</div>
</div> 
