<section class="footer1">
<div class="container">
<div class="row">
    <div class="col-md-4 text-center">
        <h3 class="fw-bold">LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p class="mt-4">Clark, MO 65243</p>
    </div>
    <div class="col-md-4 text-center">
        <h3 class="fw-bold">AROUND THE WEB</h3>
        <ul class="list-unstyled icons d-flex gap-2 justify-content-center mt-3 align-items-center">
            <li><i class="fa-brands fa-facebook"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-linkedin-in"></i></li>
            <li><i class="fa-solid fa-globe"></i></li>
        </ul>
    </div>
    <div class="col-md-4 text-center">
        <h3 class="fw-bold">ABOUT FREELANCER</h3>
        <p class="paraf">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>
</div>
</div>
</section>
<section class="footer2">
    <p class="text-center text-white mt-3">Copyright © Your Website 2021</p>
</section>